{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}About us{% endblock %}</title>
<div class="container rounded" style="background:#1b1b1b; color: white; margin-top:10%; padding: 40px;">
	<div class="d-none d-lg-block  ">
		<div class="row row-cols-2" >
			<div class="col" >
				<center>
				<center><h1>About Us</h1></center>
			<p style="width: 100%;">We are starting our site from past few days .It is a Movie streaming site .The process of movie streaming is very easy . We are provide content which are easily and freely available. This site is a great source of 
			Entertainment and Joy .This site is very easy to use and have user friendlly environment. And you doesn't want any type of subscription and account creation for watching movies on this site. </p><br><br>
			<h3>Watch The latest Hindi Movies Online for free.</h3>
			<p style="width: 100%;">We Offers great entertainment with a large collection of Hindi and Punjabi movies which available for free.<br>
				We have a collection of movies from diffrent countries , languages, and genres and we are confident that you will find your desired movie. 
			 </p>
				</center>
			</div>
			<div class="col">
				<center>
					<h3>Very Easy to use</h3>
			 <p style="width:100%;">
			 Streaming movies on our site is very easy and straightforward process. It delivers all kind of Hindi movies
			 from internet and deliver only those movies which are freely and easily available on internet .  <br>
			</p><br><br>
			<h3>All Movies 100% free</h3>
			<p style="width:100%;">We believe in providing an easy streaming experience , and instatnt play in our quality . You don't need to create an account and to buy any type of subscription .The movies are 100% free for watching.</p><br><br>
			<h3>Disclimer</h3>
			<p style="width:100%;">The site does not contain any illegal content . Site contain only those content which are easily available on internet and available for free.  </p>
</center>

				
				
			</div>
		</div>
	</div>
	<div class="d-none d-md-block d-lg-none">
		<div class="row row-cols-1">
			<div class="col" >
				<center>
				<center><h1>About Us</h1></center>
			<p style="width: 100%;">We are starting our site from past few days .It is a Movie streaming site .The process of movie streaming is very easy . We are provide content which are easily and freely available. This site is a great source of 
			Entertainment and Joy .This site is very easy to use and have user friendlly environment. And you doesn't want any type of subscription and account creation for watching movies on this site. </p><br><br>
			<h3>Watch The latest Hindi Movies Online for free.</h3>
			<p style="width: 100%;">We Offers great entertainment with a large collection of Hindi and Punjabi movies which available for free.<br>
				We have a collection of movies from diffrent countries , languages, and genres and we are confident that you will find your desired movie. 
			 </p>

				</center>
			</div>
			<div class="col">
				<center>
					<h3>Very Easy to use</h3>
			 <p style="width:100%;">
			 Streaming movies on our site is very easy and straightforward process. It delivers all kind of Hindi movies
			 from internet and deliver only those movies which are freely and easily available on internet .  <br>
			</p><br><br>
			<h3>All Movies 100% free</h3>
			<p style="width:100%;">We believe in providing an easy streaming experience , and instatnt play in our quality . You don't need to create an account and to buy any type of subscription .The movies are 100% free for watching.</p><br><br>
			<h3>Disclimer</h3>
			<p style="width:100%;">The site does not contain any illegal content . Site contain only those content which are easily available on internet and available for free.  </p>
</center>				
			</div>

		</div>
	</div>
	<div class="d-none d-sm-block d-md-none">
		<div class="row row-cols-1">
			<div class="col" >
				<center>
				<center><h1>About Us</h1></center>
			<p style="width: 100%;">We are starting our site from past few days .It is a Movie streaming site .The process of movie streaming is very easy . We are provide content which are easily and freely available. This site is a great source of 
			Entertainment and Joy .This site is very easy to use and have user friendlly environment. And you doesn't want any type of subscription and account creation for watching movies on this site. </p><br><br>
			<h3>Watch The latest Hindi Movies Online for free.</h3>
			<p style="width: 100%;">We Offers great entertainment with a large collection of Hindi and Punjabi movies which available for free.<br>
				We have a collection of movies from diffrent countries , languages, and genres and we are confident that you will find your desired movie. 
			 </p>

				</center>
			</div>
			<div class="col">
				<center>
				<h3>Very Easy to use</h3>
			 <p style="width:100%;">
			 Streaming movies on our site is very easy and straightforward process. It delivers all kind of Hindi movies
			 from internet and deliver only those movies which are freely and easily available on internet .  <br>
			</p><br><br>
			<h3>All Movies 100% free</h3>
			<p style="width:100%;">We believe in providing an easy streaming experience , and instatnt play in our quality . You don't need to create an account and to buy any type of subscription .The movies are 100% free for watching.</p><br><br>
			<h3>Disclimer</h3>
			<p style="width:100%;">The site does not contain any illegal content . Site contain only those content which are easily available on internet and available for free.  </p></center>
			</div>

		</div>
	</div>
	<div class="d-xs-block d-sm-none">
		<div class="row row-cols-1">
			<div class="col" >
				<center>
				<center><h1>About Us</h1></center>
			<p style="width: 100%;">We are starting our site from past few days .It is a Movie streaming site .The process of movie streaming is very easy . We are provide content which are easily and freely available. This site is a great source of 
			Entertainment and Joy .This site is very easy to use and have user friendlly environment. And you doesn't want any type of subscription and account creation for watching movies on this site. </p><br><br>
			<h3>Watch The latest Hindi Movies Online for free.</h3>
			<p style="width: 100%;">We Offers great entertainment with a large collection of Hindi and Punjabi movies which available for free.<br>
				We have a collection of movies from diffrent countries , languages, and genres and we are confident that you will find your desired movie. 
			 </p>


				</center>
			</div>
			<div class="col">
				<center>
					<h3>Very Easy to use</h3>
			 <p style="width:100%;">
			 Streaming movies on our site is very easy and straightforward process. It delivers all kind of Hindi movies
			 from internet and deliver only those movies which are freely and easily available on internet .  <br>
			</p><br><br>
			<h3>All Movies 100% free</h3>
			<p style="width:100%;">We believe in providing an easy streaming experience , and instatnt play in our quality . You don't need to create an account and to buy any type of subscription .The movies are 100% free for watching.</p><br><br>
			<h3>Disclimer</h3>
			<p style="width:100%;">The site does not contain any illegal content . Site contain only those content which are easily available on internet and available for free.  </p>
			</div>

		</div>
	</div>
</div>

{% endblock content %}





